@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5,h6,p{
    margin:0 !important;
}
img{
    max-width:100%;
}
h2.section-heading{
    font-size: 48px;
    line-height: 48px;
}
.section-padding{
    padding:80px 0px;
}

/* Header */
header .navbar {
    padding:0 !important;
    margin:0px 80px;
}
.navbar-brand {
    padding: 0 !important;
    margin-right: 0px;
}
ul.navbar-nav.m-auto {
    gap: 40px;
}
header{
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    padding: 24px 0px;
    position: sticky;
    top: 0;
    z-index: 5;
}
a.nav-link {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    margin: 0;
    color: #fff ;
}
.search-bar {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 440px;
}
.search-register {
    display: flex;
    align-items: center;
    gap: 40px;
}
.sign-up {
    display: flex;
    gap: 16px;
}
input[type="text"] {
    width: 100%;
    height: 44;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    border-radius:40px;
    border: none;
    background:#ffffff;
}
.search-bar button {
    position: absolute;
    right: 0;
    margin-right: 8px;
    background: none;
    border: none;
}
a.login {
    border-radius: 40px;
    padding: 10px 34px;
    border-width: 1px;
    border: 1px solid #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
a.register {
    text-decoration: none;
    border-radius: 40px;
    padding: 10px 34px;
    background: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
a.login:hover {
    text-decoration:none;
}
a.register:hover {
    text-decoration:none;
}
a.register span {
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.navbar-toggler {
    padding: 0 !important;
}
.ham-burger{
    filter:brightness(0%) invert(1);
}
/* Banner-section */
section.banner {
    background: linear-gradient(284.15deg, rgba(73, 17, 185, 0.1) 8.79%, rgba(252, 50, 53, 0.1) 99.25%);
}
.banner .row {
    align-items: center;
}
.banner-text {
    max-width: 728px;
    padding-bottom:40px;
}
h1.banner-heading {
    padding-bottom: 20px;
}
h1.banner-heading span{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h4.title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #2D2D2D;
    padding-bottom: 24px;
}
p.banner-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: 0%;
    color: #6D6D6D;
}
.banner-btns {
    display: flex;
    gap: 20px;
}
.banner-content {
    padding-left: 50px;
}
/* Talent-section */
/* section.talent {
    padding: 100px 0px;
} */
.talent-head {
    text-align: center;
    padding-bottom: 50px;
}
h2.talent-heading {
    color: #333333;
    padding-bottom: 24px;
}
p.banner-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: 0%;
    color: #6D6D6D;
}
.talent-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(284.15deg, rgba(73, 17, 185, 0.1) 8.79%, rgba(252, 50, 53, 0.1) 99.25%);
    gap: 10px;
    border-radius: 8px;
    padding: 16px 24px;
    margin-bottom:24px;
}
.talent-option:hover{
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    box-shadow: 0px 3px 12px 0px #4B4B4B14;
    & h4.talent-option-heading {
        color: #FEFEFF;  
    }
    & img.talent-option-img {
        filter: brightness(0%) invert(1);
    }
}
h4.talent-option-heading {
    font-family: Public Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2D2D2D;
}
.talent-option a {
    width: 44;
    height: 44;
    gap: 10px;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    background: #ffffff;
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Meet-section */
section.meet {
    width: 1920;
    height: 678;
    top: 1449px;
    gap: 60px;
    background: linear-gradient(287.26deg, #4911B9 21.59%, #FC3235 99.12%);
}
.meet .row {
    align-items: center;
}
.meet-text {
    padding-bottom: 30px;
}
h2.meet-heading {
    color: #ffffff;
    padding-bottom: 18px;
}
p.meet-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: font size/16;
    line-height: line height/26;
    letter-spacing: 0%;
    color: #E8E8E8;
}
/* owl-carousel */
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  .owl-nav button:focus {
      outline: none;
  }
  .owl-item {
    height: auto !important; /* Adjust this value as needed */
    display: flex;
  }
  .item {
      width: 100%;
  }
  .testi-card-border {
    padding: 50px 20px 40px 40px;
}
.testi-card {
    background: url("/images/testi-bg.png") center center no-repeat;
    background-size: contain;
    border-radius: 50px;
    padding: 70px 25px 125px 35px;
    position: relative;
    z-index:1;
}
.testi-card-first:after {
    content: url("/images/like.png");
    display: inline-block;
    margin-right: 10px;
    width: auto;
    height: auto;
    position: absolute;
    top: -50px;
    right: -30px;
}
.testi-card.testi-card-second {
    background: url("/images/testi-blue-bg.png") center center no-repeat;
    background-size: contain;
    padding: 60px 25px 101px 35px;
}
.testi-card-second:after {
    content: url("/images/heart.png");
    display: inline-block;
    margin-right: 10px;
    width: auto;
    height: auto;
    position: absolute;
    top: -25px;
    left: -25px;
}
img.btn-arrow {
    width: 24px !important;
}
a.testi-find-btn {
    display: inline-flex;
    border-radius: 60px;
    background: #FFFFFF33;
    text-decoration: none;
    padding: 10px 20px;
}
a.testi-find-btn p{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 0%;
    color: #fff;
}
h5.testi-card-heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28px;
    line-height: 34.13px;
    letter-spacing: 0%;
    color: #fff;
    padding: 16px 0px;
}
p.testi-card-p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: 0%;
    color: #FFFEFEE5;
}
.test-card-imgs {
    position: relative;
}
img.testi-img1 {
    position: absolute;
    top: -110px;
    left: -35px;
    max-width: 150px;
}
img.testi-img3 {
    position: absolute;
    max-width: 150px;
    top: 50px;
    left: 10px;
}
img.testi-img2 {
    position: absolute;
    bottom: -345px;
    left: -70px;
}
img.testi-img4 {
    position: absolute;
    max-width: 185px;
    top: -80px;
    left: 0px;
}
img.testi-img5 {
    position: absolute;
    max-width: 150px;
    left: -56px;
    bottom: -280px;
}
a.testi-btn {
    display: inline-flex;
    border-radius: 40px;
    padding: 20px 22px;
    border-width: 1px;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    align-items: center;
    text-decoration: none;
    border: 1px solid #FFFFFF33;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 20px;
        line-height: 24.38px;
        letter-spacing: 0%;
        color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}
img.btn-arrow {
    max-width: 20px;
}

/* Deliver-section */
section.deliver{
    background: #EEF2FA;

}
.deliver-text{
    padding-bottom:50px;
}
h2.deliver-heading {
    color: #333333;
    padding-bottom:24px;
    text-align:center;
}
p.deliver-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: center;
}
.deliver-card {
    padding: 20px 30px;
    border-radius: 8px;
    position:relative;
}
.deliver-cor{
    display:none;
}
.deliver-card:before {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: add, add;
    mask-composite: exclude;
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
}
.deliver-card:hover{
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    & img.deliver-card-img{
        filter:brightness(0%) invert(1);
    }
    & h5.deliver-card-head{
        color:#FEFEFF;
    }
    & p.deliver-card-p{
        color:#FEFEFF;
    }
}
img.deliver-card-img {
    max-width: 44px;
}

.deliver-card-heading {
    display: flex;
    align-items: center;
    gap: 44px;
    padding-bottom: 31px;
}
h5.deliver-card-head {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    color: #2D2D2D;
}
p.deliver-card-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: right;
    color: #6D6D6D;
}
/* review-section */
h2.review-heading {
    color: #333333;
    text-align: center;
    padding-bottom:60px;
}
img.rev-card-bigimg {
    width: 100%;
}
.rev-card-text {
    padding-bottom: 167px;
}
.review-content .row {
    align-items: flex-end;
}
.rev-card-head {
    padding-bottom: 24px;
    max-width: fit-content;
}
h4.rev-card-heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
    letter-spacing: 0px;
    padding-bottom: 12px;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h5.rev-card-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0px;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
p.rev-card-p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #202020;
}

/* brands-section */
section.brands {
    background: #EEF2FA;
    position:relative;
    z-index:1;
}
section.brands:before {
    background: linear-gradient(295.33deg, #4911B9 11.96%, #FC3235 62.17%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(58% 0%, 100% 0%, 100% 100%, 58% 100%, 50% 50%);
}
.brands .row {
    align-items: center;
}
.brands-grid {
    padding: 83px 145px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    /* background-color: #2196F3; */
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10px;
  }
  
  .item1 {
    grid-column-start: 1 ;
  }
  .item2 {
    grid-row-start: 2 ;
  }
  .item3 {
    grid-row: 2 ;
    grid-column: 2;
  }
  .item4 {
    grid-row-start: 3 ;
  }
  .item5 {
    grid-column: 2 ;
    grid-row:3;
  }
  .item6 {
    grid-column: 3 ;
    grid-row:3;
  }
  .brands-text {
    padding-bottom: 40px;
    max-width: 688px;
}
  h2.brands-heading {
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%;
    color: #fff;
    text-align: left;
    padding-bottom:18px;
}
p.brands-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: font size/16;
    line-height: line height/26;
    letter-spacing: 0%;
    color: #fff;
}
/* faqs-accordion */
div#accordion1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div#accordion2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card {
    box-shadow: 0px 4px 10px 0px #00000026;
    border-radius: 18px !important;
}
h2.mb-0.faq-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
h2.mb-0.faq-head {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #1E1E1E;
    border-radius: 18px;
    transition-duration: 0.3s;
    padding: 35px 39px 35px 39px;
    cursor:pointer;
}
.mb-0.faq-head.collapsed img {
    transform: rotate(0deg);
    filter:none;
}
.mb-0.faq-head img {
    transform: rotate(90deg);
    filter:brightness(0%) invert(1);
    transition-duration:0.3s;
}
.mb-0.faq-head.collapsed .faq-arrow {
    background: #fff;
}
.mb-0.faq-head .faq-arrow {
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    transition-duration:0.3s;
}
.collapse.show .card-body:before {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: add, add;
    mask-composite: exclude;
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    padding: 2px;
    border-radius: 18px;

}
.card-body {
    padding: 0px 39px 47px 39px !important;
}
ul.faq-ul{
    margin:0;
}
ul.faq-ul li {
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #6D6D6D;
}
.card-head.faq-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.faq-arrow {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 5px 16px 0px #080F340F;
}
/* Faq-section */

.faq-text {
    padding-bottom: 40px;
}
h2.faq-heading {
    color: #333333;
    text-align: center;
    padding-bottom: 40px;
}
a:not([href]):not([tabindex]) {
    color: #fff !important;
    cursor:pointer;
}
.faq-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.faq-btns a {
    text-decoration: none;
    width: 188;
    height: 68;
    border-radius: 14px;
    padding: 20px 48px;
    position:relative;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 0px 2px 6px 0px #00000008;
}
.faq-btns a:hover {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        -webkit-text-fill-color: unset;
        -webkit-background-clip: unset;
        color:#fff;
        text-decoration:none;
}
.faq-btns a:before {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: add, add;
    mask-composite: exclude;
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
}
 
/* blog-section */
/* section.blog {
    position: relative;
    bottom: -80px;
    z-index: -1;
} */
.blog-text {
    padding-bottom: 50px;
}
h2.blog-heading {
    color: #333333;
    padding-bottom:24px;
    text-align: center;
}
p.blog-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #6D6D6D;
}
img.blog-cal {
    max-width: 13px;
}
section.blog {
    background: linear-gradient(284.15deg, rgba(73, 17, 185, 0.1) 8.79%, rgba(252, 50, 53, 0.1) 99.25%);
}
a.testi-btn.blog-card-btn {
    position: relative;
}
.blog-card {
    gap: 25px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 413px;
}
h6.blog-card-heading {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #2F333A;
}
.blog-date {
    display: flex;
    align-items: center;
    gap: 8px;
}
p.blog-card-date {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
}
p.blog-card-p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #2F333A;
}
a.testi-btn.blog-card-btn {
    position: relative;
    max-width: max-content;
    gap: 5px;
    border-radius: 40px;
    border-width: 1px;
    border: 1px solid #ffffff;
    background:none;
    text-decoration:none;
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
a.testi-btn.blog-card-btn:before {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: add, add;
    mask-composite: exclude;
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    padding: 2px;
    border-radius: 48px;
}
a.testi-btn.blog-card-btn:hover {
    background: linear-gradient(130.14deg, #FC4778 16.65%, #3952F5 82.18%);
    mask-composite: exclude;
    -webkit-text-fill-color: unset;
    text-decoration:none;
    color:#fff;
    & img.blog-arrow{
        filter:brightness(0%) invert(1);
    }
}
img.blog-arrow {
    max-width: 24px;
}
/* footer-section */
footer.footer {
    padding: 147px 80px 20px 80px;
    background: url("/images/footer-bg.webp") no-repeat;
    background-size:cover;
    position: relative;
}
footer.footer:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(284.15deg, rgba(73, 17, 185, 0.1) 8.79%, rgba(252, 50, 53, 0.1) 99.25%);
}
.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 309px;
}
p.foot-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
}
.social-icons {
    display: inline-flex;
    gap: 18px;
    align-items: center;
}
h6.footer-ul-heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 35.45px;
    letter-spacing: 0%;
    color: #fff;
}
.footer-ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-ul a {
    text-decoration: none;
    color: #fff;
}
.footer-ul ul li {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFFE5;
}
.footer-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
}
p.rights {
    font-family: Manrope;
    font-weight: 500;
    font-size: 12px;
    line-height: 16.39px;
    letter-spacing: 0%;
    color: #fff;
}
.lower-footer{
    background: linear-gradient(284.15deg, #4911B9 8.79%, #FC3235 99.25%);
    border-top: 1px solid #FFFFFF66;
}
.lower-foot {
    width: 1920;
    height: 56;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 9px;
    border-top-width: 1px;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width:1650px){
    header .navbar {
        margin: 0px 40px;
    }
}
@media (max-width:1570px){
    .search-bar {
        width: 340px;
    }
    .search-register {
        gap: 30px;
    }
    a.nav-link {
        font-size: 16px;
    }
}
@media (max-width:1440px){
    header .navbar {
        margin: 0px 10px;
    }
}
@media(max-width:1399px){
    h5.testi-card-heading {
        font-size: 22px;
        line-height: 30.13px;
        padding: 10px 0px;
    }
    p.testi-card-p {
        padding-bottom: 20px;
    }
    .testi-card {
        padding: 40px 25px 100px 35px;
    }
    a.testi-btn {
        display: flex;
        gap: 4px;
    }
    img.btn-arrow {
        max-width: 14px;
    }
    a.testi-btn {
        padding: 16px 14px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.38px;
    }
    img.testi-img2 {
        bottom: -320px;
        left: -60px;
        max-width: 150px;
    }
    img.testi-img1 {
        top: -80px;
        left: -21px;
        max-width: 150px;
    }
    .testi-card.testi-card-second {
        padding: 40px 25px 71px 35px;
    }
    img.testi-img4 {
        max-width: 185px;
        top: -60px;
        left: 0px;
    }
    img.testi-img5 {
        max-width: 150px;
        left: -56px;
        bottom: -240px;
    }
    .brands-grid {
        padding: 80px 100px;
    }
    h6.footer-ul-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 32.45px;
    }
    .rev-card-text {
        padding-bottom: 133px;
    }
}
@media (max-width:1366px){
    .section-padding {
        padding: 80px 0px;
    }
    h2.section-heading {
        font-size: 40px;
        line-height: 40px;
    }
    .search-bar {
        width: 260px;
    }
    .search-register {
        gap: 20px;
    }
    header {
        padding: 14px 0px;
    }
    ul.navbar-nav.m-auto {
        gap: 20px;
    }input[type="text"] {
        padding: 6px 24px;
        border-radius: 44px;
    }
    .sign-up {
        display: flex;
        gap: 8px;
    }
    a.login {
        border-radius: 42px;
        padding: 8px 32px;
        font-size: 16px;
        line-height: 18px;
    }
    a.register {
        border-radius: 42px;
        padding: 8px 32px;
        font-size: 16px;
        line-height: 18px;
    }
    .banner-text {
        max-width: 580px;
        padding-bottom: 30px;
    }
    h1.banner-heading span {
        font-size: 54px;
        line-height: 54px;
    }
    h4.title {
        font-size: 38px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    p.banner-p {
        font-size: 18px;
        line-height: 26.32px;
    }
    .banner-content {
        padding-left: 0px;
    }
    h2.talent-heading {
        padding-bottom: 20px;
    }
    .talent-head {
        padding-bottom: 40px;
    }
    .grid-container > div {
        padding: 12px 0;
        font-size: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1199px){
    
    header {
        padding: 8px 0px;
    }
    img.navbar-logo {
        width: 150px;
    }
    ul.navbar-nav.m-auto {
        gap: 10px;
    }
    a.nav-link {
        font-weight: 600;
        padding: 0 6px !important;
    }
    input[type="text"] {
        padding: 4px 16px;
    }
    img.search {
        max-width: 18px;
    }
    .search-bar button {
        margin-right: 6px;
    }
    a.login {
        padding: 6px 22px;
        font-size: 16px;
    }
    a.register {
        padding: 6px 22px;
        font-size: 16px;
    }
    h4.title {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 15px;
    }
    .banner-content {
        padding-left: 0px;
        max-width: 480px;
    }
    .banner-text {
        max-width: 100%;
        padding-bottom: 30px;
    }
    h1.banner-heading span {
        font-size: 46px;
        line-height: 46px;
    }
    h1.banner-heading {
        padding-bottom: 15px;
    }
    img.appstore {
        max-width: 200px;
    }
    img.playstore {
        max-width: 200px;
    }
    .testi-card-border {
        padding: 50px 11px 40px 40px;
    }
    .testi-card {
        padding: 50px 20px 60px 22px;
    }
    h4.talent-option-heading {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }
    .talent-option {
        padding: 12px 20px;
        margin-bottom: 20px;
    }
    h4.talent-option-heading {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    img.talent-option-img {
        max-width: 18px;
    }
    h5.testi-card-heading {
        font-size: 18px;
        line-height: 22.13px;
        padding: 10px 0px;
    }
    a.testi-find-btn p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20.38px;
    }
    a.testi-find-btn {
        padding: 6px 14px;
    }
    a.testi-btn {
        padding: 12px 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20.38px;
    }
    .testi-card.testi-card-second {
        padding: 50px 20px 60px 22px;
    }
    img.testi-img1 {
        top: -60px;
        left: -20px;
    }
    img.testi-img2 {
        bottom: -230px;
        left: -30px;
    }
    img.testi-img5 {
        left: -40px;
        bottom: -140px;
    }
    .testi-card-second:after {
        top: -30px;
        left: -5px;
    }
    .deliver-card-heading {
        gap: 10px;
        padding-bottom: 21px;
    }
    img.deliver-card-img {
        max-width: 34px;
    }
    .deliver-card {
        padding: 15px;
    }
    h5.deliver-card-head {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
    }
    .grid-container > div img {
        max-width: 100px;
    }
    h2.faq-heading {
        padding-bottom: 30px;
    }
    .faq-btns a {
        padding: 14px 40px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }
    .faq-btns a:hover{
        font-size: 18px;
    }
    h2.mb-0.faq-head {
        font-size: 20px;
        line-height: 28px;
        padding: 20px 29px 20px 29px;
    }
    .card-body {
        padding: 0px 29px 32px 39px !important;
    }
    span.faq-arrow {
        min-width: 40px;
        min-height: 40px;
    }
    .blog-text {
        padding-bottom: 30px;
    }
    h2.blog-heading {
        padding-bottom: 16px;
    }
    .blog-card {
        gap: 10px;
        border-radius: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footer-btns img {
        max-width: 150px;
    }
    h6.footer-ul-heading {
        font-weight: 600;
        font-size: 18px;
        line-height: 30.45px;
    }
    .social-icons {
        gap: 6px;
    }
    .about {
        gap: 8px;
    }
    .footer-ul ul li {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }
    .footer-btns {
        gap: 8px;
    }
    footer.footer {
        padding: 120px 30px 20px 30px;
        background-position: center center;
    }
    .rev-card-text {
        padding-bottom: 68px;
    }
}
@media(max-width:1099px){
    img.navbar-logo {
        width: 130px;
    }
    a.nav-link {
        padding: 0 4px !important;
    }
    .search-bar {
        width: 230px;
    }
    input[type="text"] {
        padding: 2px 14px;
    }
    .brands-btn.banner-btns img {
        max-width: 150px;
    }
    .grid-container {
        grid-gap: 20px;
    }
}
@media(max-width:991px){
    .section-padding {
        padding: 60px 0px;
    }
    h2.section-heading {
        font-size: 28px;
        line-height: 28px;
    }
    .banner-content {
        max-width: 420px;
    }
    .navbar-toggler-icon {
        width: 40px !important;
        height: 40px !important;
    }
    h4.title {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 10px;
    }
    h1.banner-heading span {
        font-size: 40px;
        line-height: 40px;
    }
    h1.banner-heading {
        padding-bottom: 10px;
    }
    p.banner-p {
        font-size: 16px;
        line-height: 26.32px;
    }
    .banner-text {
        padding-bottom: 25px;
    }
    img.appstore {
        max-width: 130px;
    }
    img.playstore {
        max-width: 130px;
    }
    .talent .row {
        justify-content: center;
    }
    .talent-head {
        padding-bottom: 30px;
    }
    h2.talent-heading {
        padding-bottom: 10px;
    }
    .testi-card-border {
        padding: 30px 0px;
        display: flex;
        justify-content: center;
    }
    .testi-card {
        max-width: 430px;
        padding: 50px 10px 80px 0px;
    }
    .testi-card-first:after {
        top: -20px;
        right: -20px;
    }
    img.testi-img2 {
        bottom: -260px;
        left: -30px;
    }
    img.testi-img1 {
        top: -65px;
        left: 0px;
    }
    .testi-card.testi-card-second {
        padding: 50px 20px 80px 22px;
    }
    img.testi-img4 {
        top: -60px;
        left: 20px;
    }
    .testi-card-second:after {
        top: -20px;
        left: -20px;
    }
    img.testi-img5 {
        left: -40px;
        bottom: -150px;
    }
    .deliver-cards{
        display:none;
    }
    .deliver-cor{
        display:block;
    }
    .deliver-text {
        padding-bottom: 30px;
    }
    h2.deliver-heading {
        padding-bottom: 15px;
    }
    .brands-text {
        padding-bottom: 30px;
        max-width: 100%;
    }
    .brands-grid {
        padding: 60px 60px;
    }
    .brands-btn.banner-btns img {
        max-width: 140px;
    }
    .banner-btns {
        gap: 15px;
    }
    .faq-text {
        padding-bottom: 30px;
    }
    h2.mb-0.faq-head {
        font-size: 17px;
        line-height: 22px;
        padding: 15px 20px 15px 20px;
    }
    span.faq-arrow {
        min-width: 30px;
        min-height: 30px;
    }
    .card-body {
        padding: 0px 29px 22px 29px !important;
    }
    ul.faq-ul li {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }
    span.faq-arrow img {
        max-width: 10px;
    }
    h2.mb-0.faq-head {
        font-size: 17px;
        line-height: 28px;
        padding: 15px 19px 15px 19px;
    }
    ul.faq-ul li {
        font-size: 16px;
        line-height: 26px;
    }
    span.faq-arrow {
        min-width: 30px;
        min-height: 30px;
    }
    span.faq-arrow img {
        max-width: 8px;
    }
    div#accordion1 {
        gap: 20px;
    }
    .faq-text {
        padding-bottom: 20px;
    }
    .card-body {
        padding: 0px 19px 22px 19px !important;
    }
    p.blog-p {
        font-size: 18px;
    }
    .blog-text {
        padding-bottom: 20px;
    }
    h2.blog-heading {
        padding-bottom: 12px;
    }
    h6.blog-card-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
    p.blog-card-date {
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
    }
    img.blog-cal {
        max-width: 10px;
    }
    p.blog-card-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
    a.testi-btn {
        padding: 10px 10px;
    }
    .social-icons {
        gap: 15px;
    }
    .footer .row {
        row-gap: 30px;
    }
    .footer-btns {
        gap: 8px;
        flex-direction: row;
        padding-top: 10px;
    }
    img.appstore {
        max-width: 100px;
    }
    img.playstore {
        max-width: 100px;
    }
    .rev-card-text {
        padding-bottom: 22px;
    }
    h4.rev-card-heading {
        font-weight: 600;
        font-size: 26px;
        line-height: 32.01px;
    }
    .rev-card-head {
        padding-bottom: 8px;
    }
    h5.rev-card-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 19.94px;
    }
    p.rev-card-p {
        font-family: Manrope;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #202020;
    }
    h2.review-heading {
        padding-bottom: 40px;
    }
}
@media(max-width:767px){
    .section-padding {
        padding: 40px 0px;
    }
    section.banner .row {
        flex-direction: column-reverse;
    }
    .search-bar {
        width: 100%;
    }
    .banner-image {
        display: flex;
        justify-content: center;
    }
    img.banner-img {
        max-width: 100%;
    }
    .banner-text {
        text-align: center;
    }
    .banner-content {
        max-width: 100%;
        padding: 60px 40px  20px 40px;
    }
    .banner-btns {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    h2.talent-heading {
        padding-bottom: 15px;
    }
    .meet-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.meet-img {
        width: 100%;
    }
    .meet-text {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    h2.brands-heading {
        text-align: center;
        padding-bottom: 18px;
    }
    .brands-text {
        padding-bottom: 20px;
        text-align: center;
    }
    section.brands:before {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
    }
    .grid-container > div {
        background-color: rgba(255, 255, 255, 1);
    }
    .brands-grid {
        padding: 40px 60px;
    }
    .brands-content {
        padding-bottom: 40px;
    }
    .faq-text {
        padding-bottom: 20px;
    }
    .faq-btns a {
        padding: 10px 25px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
    }
    .faq-btns a:hover {
        padding: 10px 25px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
    }
    h2.faq-heading {
        padding-bottom: 20px;
    }
    ul.faq-ul li {
        font-weight: 500;
        line-height: 24px;
    }
    .blog-card {
        gap: 5px;
    }
    .footer-btns{
        gap:6px;
        flex-direction:column;
    }
    img.appstore {
        max-width: 140px;
    }
    img.playstore {
        max-width: 140px;
    }
    h4.rev-card-heading {
        font-weight: 600;
        font-size: 22px;
        line-height: 28.01px;
        padding-bottom: 2px;
    }
    .rev-card-text{
        padding-bottom:5px;
    }
    h5.rev-card-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 17.94px;
    }
    p.rev-card-p {
        font-family: Manrope;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
    }
    h2.review-heading {
        padding-bottom: 30px;
    }
}
@media(max-width:575px){
    .section-padding {
        padding: 40px 15px;
    }
    .banner-content {
        padding: 40px 20px  20px 20px;
    }
    img.banner-img {
        max-width: 100%;
    }
    h2.talent-heading {
        padding-bottom: 10px;
    }
    .talent-head {
        padding-bottom: 20px;
    }
    .talent-option {
        padding: 10px 16px;
        margin-bottom: 16px;
    }
    h2.meet-heading {
        color: #ffffff;
        padding-bottom: 15px;
    }
    h5.testi-card-heading {
        font-size: 18px;
        line-height: 22.13px;
        padding: 8px 0px;
    }
    a.testi-btn {
        padding: 8px 7px;
        font-weight: 400;
        font-size: 15px;
        line-height: 24.38px;
    }
    .testi-card {
        max-width: 352px;
        padding: 30px 0px 49px 30px;
        background-size: cover;
    }
    img.btn-arrow {
        max-width: 9px;
    }
    .testi-card-first:after {
        top: -10px;
        right: -10px;
    }
    .testi-card-second:after {
        top: -30px;
        left: -5px;
    }
    img.testi-img2 {
        max-width: 60px;
        bottom: -210px;
        left: -40px;
    }
    img.testi-img3 {
        position: absolute;
        max-width: 150px;
        top: 105px;
        left: 270px;
        width: 50px !important;
    }
    img.testi-img1 {
        top: -55px;
        left: 30px;
        width: 50px !important;
    }
    .testi-card.testi-card-second {
        background-size: cover;
        padding: 20px 13px 60px 0px;
    }
    img.testi-img4 {
        top: -40px;
        left: 230px;
        width: 50px !important;
    }
    img.testi-img5 {
        left: 0px;
        bottom: -215px;
        width: 70px !important;
    }
    section.brands{
        padding:40px 20px;
    }
    .grid-container > div {
        padding: 8px 0;
    }
    .grid-container {
        grid-gap: 15px;
    }
    .brands-grid {
        padding: 0px 0px 40px 0px;
    }
    .brands-content {
        padding-bottom: 0px;
    }
    h2.brands-heading { 
        padding-bottom: 14px;
    }
    
    h2.mb-0.faq-head {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
    }
    .faq-text {
        padding-bottom: 10px;
    }
    .faq-btns {
        gap: 15px;
    }
    .blog-card {
        align-items: center;
    }
    a.testi-btn.blog-card-btn {
        padding: 8px 10px;
        font-size: 16px;
    }
    p.blog-card-p {
        text-align: center;
    }
    .item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    p.blog-p {
        font-size: 18px;
        line-height: 24px;
    }
    footer.footer:before{
        display:none;
    }
    footer.footer{
        background: linear-gradient(107.14deg, #FC4778 16.65%, #3952F5 82.18%);
        padding: 40px 30px 20px 30px;
    }
    .about {
        max-width: 100%;
        display: flex;
        align-items: center;
    }
    p.foot-p {
        text-align: center;
    }
    .footer-ul {
        text-align: center;
    }
    .footer li {
        display: inline-flex;
        margin-right: 20px;
        position: relative;
    }
    .footer-ul a:after {
        position: absolute;
        top: 6px;
        right: -12px;
        width: 1px;
        height: 15px;
        background: #fff;
        content: "";
        /* margin-left: 10px; */
    }
    h6.footer-ul-heading {
        text-align: center;
    }
    .footer-btns {
        gap: 6px;
        flex-direction: row;
        justify-content: center;
    }
    .footer-ul li:last-child a:after {
        display: none;
    }
    .footer-ul li:last-child {
        margin:0;
    }
    ul.navbar-nav.m-auto {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-register {
        gap: 10px;
        padding-bottom: 10px;
    }
    .rev-card-img1{
        display:none;
    }
    .review-card-img{
        max-width:100%;
        display:flex;
        justify-content:center;
    }
    .rev-card-text {
        text-align: center;
        padding-top: 20px;
    }
    .rev-card-head {
        padding-bottom: 8px;
        max-width: 100%;
    }
    img.rev-card-bigimg {
        max-width: 100%;
    }
}
@media(max-width:480px){
    h1.banner-heading span {
        font-size: 34px;
        line-height: 34px;
    }
    h4.title {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 10px;
    }
    h4.talent-option-heading {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .talent-option {
        padding: 8px 12px;
        margin-bottom: 12px;
    }
    img.talent-option-img {
        max-width: 16px;
    }
    .talent-option a {
        padding: 6px;
    }
    img.talent-arrow {
        max-width: 20px;
    }
    img.deliver-card-img {
        max-width: 44px;
    }
    .deliver-card-heading {
        gap: 44px;
        justify-content: space-between;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .item6 {
        grid-column: 2;
        grid-row: 3;
    }
    .item5 {
        grid-column: 2;
        grid-row: 1;
    }
    .brands-grid {
        padding: 0px 0px 20px 0px;
    }
    .lower-foot {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-register {
        gap: 15px;
    }
    .search-bar {
        width: 100%;
    }
    .search-register {
        gap: 15px;
    }
    a.login {
        padding: 6px 20px;
        font-size: 16px;
    }
    a.register {
        padding: 6px 14px;
        font-size: 16px;
    }
    ul.navbar-nav.m-auto {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .search-register {
        gap: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .sign-up {
        gap: 15px;
    }
    .search-bar button {
        margin-right: 4px;
        top:0px;
    }
    .footer li {
        margin-right: 10px;
    }
    .footer-ul a:after {
        position: absolute;
        top: 6px;
        right: -8px;
        width: 1px;
        height: 15px;
        background: #fff;
        content: "";
    }
    section.testimonials.section-padding {
        padding: 40px 0px;
    }
    .testi-card {
        max-width: 320px;
        padding: 30px 0px 28px 24px;
        background-size: cover;
    }
    img.testi-img3 {
        display: none !important;
    }
    img.testi-img2 {
        max-width: 60px;
        bottom: -200px;
        left: -40px;
    }
    a.testi-btn {
        padding: 7px 7px;
        font-weight: 400;
        font-size: 13px;
        line-height: 24.38px;
    }
    .testi-card.testi-card-second {
        background-size: cover;
        padding: 25px 13px 33px 25px;
    }
    section.meet.section-padding {
        padding: 40px 20px 50px 20px;
    }
}
@media(max-width:390px){
    h2.section-heading {
        font-size: 24px;
        line-height: 24px;
    }
    .footer .row {
        row-gap: 20px;
    }
    img.testi-img2 {
        max-width: 60px;
        bottom: -200px;
        left: -30px;
    }
}